body {
  margin: 0px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    lightgreen,
    whitesmoke,
    whitesmoke,
    whitesmoke,
    lightgreen
  );
}

hr {
  border-color: palegreen;
}

main {
  max-width: 1200px;
  padding: 10px 100px 50px 100px;
}

h1 {
  font-size: 42px;
}

#title {
  font-size: 52px;
  color: forestgreen;
  text-shadow: 0px 0px 9px white;
}

#myname {
  color: yellowgreen;
}

.underline {
  text-decoration: underline;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

header {
  padding: 15px;
  background-color: white;
  align-items: center;
}

header div {
  max-width: 900px;
  margin: 0px 15px 0px 30px;
}

header img {
  margin: 20px;
}

a {
  color: indigo;
}

footer {
  margin-top: 40px;
}

/* borders */
.border {
  border: 3px solid black;
}

.circle {
  border-radius: 9999px;
}

.roundCorners {
  border-radius: 10px;
}

/* flexboxes */
.sideBySide {
  display: flex;
  flex-direction: row;
}

.gallery {
  display: flex;
}

.gallery div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  max-width: 250px;
  min-width: 250px;
  max-height: 300px;
  text-align: center;
}

.gallery div:hover {
  background-image: linear-gradient(
    to left,
    rgba(144, 238, 144, 1),
    rgba(144, 238, 144, 0),
    rgba(144, 238, 144, 0),
    rgba(144, 238, 144, 0),
    rgba(144, 238, 144, 0),
    rgba(144, 238, 144, 1)
  );
  transition-timing-function: ease;
}

.gallery img {
  height: 100px;
  box-shadow: 1px 1px 4px 0px gray;
}

.gallery img:hover {
  height: 105px;
  box-shadow: 2px 2px 4px 0px gray;
  transition: 0.1s;
}

.scroll {
  overflow: scroll;
}

.card {
  max-width: 900px;
  padding: 2em;
  margin: 25px;
  background-color: white;
  align-items: center;
}

.card img {
  max-height: 300px;
}

.card div {
  max-width: 400px;
  margin: 0px 15px 0px 30px;
}
